<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>453753630293-mri1vn6p95r83i5p2aunnkfpcjnkomq6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.453753630293-mri1vn6p95r83i5p2aunnkfpcjnkomq6</string>
	<key>API_KEY</key>
	<string>AIzaSyBQKqAGszbXA9tc73DzPv8La6sQcifWXeg</string>
	<key>GCM_SENDER_ID</key>
	<string>453753630293</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.google.ml.kit.flutter.example</string>
	<key>PROJECT_ID</key>
	<string>iread-7c5a2</string>
	<key>STORAGE_BUCKET</key>
	<string>iread-7c5a2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:453753630293:ios:d4ed2e880017dee667eedc</string>
</dict>
</plist>