<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>723971830049-7ucakif0rbub9lmrqokdv6lu9cvfibhe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.723971830049-7ucakif0rbub9lmrqokdv6lu9cvfibhe</string>
	<key>API_KEY</key>
	<string>AIzaSyCLtU0ijM76kle6-TW4xjeUh2yXphOyRMg</string>
	<key>GCM_SENDER_ID</key>
	<string>723971830049</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.google.ml.kit.flutter.example</string>
	<key>PROJECT_ID</key>
	<string>iread-fb3b2</string>
	<key>STORAGE_BUCKET</key>
	<string>iread-fb3b2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:723971830049:ios:4db622954c018da28ece60</string>
</dict>
</plist>